body{
    color: aliceblue;
    
    background-color: black;
    font-family: simhei, helvetica; 
    line-height: 1;
}

.content{
    
    background-color: brown;
    color: aliceblue;
}

#header{
    
}
#loginform{
    padding-top: 20px;
    color: aliceblue;  
}
#loginform input{
text-align: center;
width: 100px;
    color: red;
        background-color: black;
    border: 1px solid aliceblue;
}
#loginform button{
      -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.8s;
    color: aliceblue;
          background-color: black; /* Green */
    margin-left: 20px;

    border: 1px solid aliceblue;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    
}
#loginform button:hover{
color: black;
      background-color: aliceblue; /* Green */

    
    
}
#loginform submit{
text-align: center;
width: 100px;
    color: aliceblue;
}




.container{
    
  /*  background-color: aqua; */
    text-align: center;
    
}
#head_wrap{
    
    color: black;
    height: 100px;
}

#head{
    margin-top: 8px;
    height: 120px;
    width: auto;
    border-style: groove;
    border-color: red;
    border-width: thin;
    color: red;
    font-size: 100;
    text-align: center;
    margin-bottom: 90px;
    border-radius: 0px;
}

#text{
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    color: blue;
}
#registry{
    color: aliceblue;
    float: right;
    
}
#registryform button{
    text-align: center;
    
          -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.8s;
          background-color: black; /* Green */
    margin-left: 20px;

    border: 1px solid aliceblue;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    
    
    
    
    
}
#registryform button:hover{
    
color: black;
      background-color: aliceblue; /* Green */


}




/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
























